@import '~@ulaval/modul-components/dist/styles/commons';

.main-header {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: m-spacing();
    align-items: center;
    justify-content: space-between;
    background-color: #1f2f39;

    &__item {
        display: flex;
        align-items: center;
    }

    &__profile {
        font-size: 44px;
        padding-left: m-spacing();
        color: #fff;
    }
}
