.main-header__logo {
    width: 44px;
    height: 44px;
    float: left;
}

.main-header__profile,
.main-header__lang {
    float: right;
}

.main-header__profileicon {
    width: 44px;
    height: 44px;
}
