<section>
    <template v-if="state.loading">
        Loading...
    </template>
    <template v-else-if="state.loadingError">
        Unable to load todos...
    </template>
    <template v-else>
        <h1>{{ 'todolist:welcome' | f-m-i18n }} - {{state.todolist.todolistName }}</h1>

        <m-button @click="onOpenNewForm()">Nouvelle tâche</m-button>

        <m-table :columns="columns"
                 :rows="state.visibleTodos">

            <template slot="body.dueDate"
                      slot-scope="{ data }">
                <span v-html="$options.filters.formatDate(data.dueDate)"></span>
            </template>

            <template slot="body.status"
                      slot-scope="{ data }">
                <m-i18n :k="'todolist:status-' + data.status"></m-i18n>
            </template>

            <template slot="body.todolistId"
                      slot-scope="{ data }">
                <m-option>
                    <m-option-item-edit></m-option-item-edit>
                    <m-option-item-delete @click="onDeleteTodo(data)"></m-option-item-delete>
                </m-option>
            </template>
        </m-table>

        <confirmation title="Confirmation"
                      text="Are you sure ?"
                      :open="deleteConfirmationOpen"
                      @confirm="onConfirmDeleteTodo()"
                      @cancel="onCancelDeleteTodo()"></confirmation>

        <todolist-form v-if="state.todolistFormState.open"
                       :state="state.todolistFormState"
                       v-on="$listeners"></todolist-form>
    </template>
</section>
