<article class="main-layout">
    <header>
        <slot name="header">
            <main-header></main-header>
        </slot>
    </header>
    <main>
        <slot>
            <router-view></router-view>
        </slot>
    </main>
    <footer>
        <slot name="footer">
            <div class="main-layout__footer">
                <m-link url="/">Home</m-link>
                &nbsp;
                <m-link url="/todos">TODOs</m-link>
                &nbsp;
                <m-link url="/about">About</m-link>
            </div>
        </slot>
    </footer>
</article>
