@import '~@ulaval/modul-components/dist/styles/commons';

.main-layout {
    min-height: 100%;
    display: grid;
    grid-template-rows: minmax(75px, auto) 1fr auto;
    grid-template-columns: 100%;

    &__footer {
        padding: m-spacing();
        text-align: center;
        background-color: #43545f;
    }
}
