<div class="hello-world">
    <h1>{{ msg }}</h1>
    <p>
        For guide and recipes on how to configure / customize this project,<br />
        check out the
        <a href="https://cli.vuejs.org"
           target="_blank"
           rel="noopener">vue-cli documentation</a>.
    </p>
    <p>
        <m-button>
            <m-icon name="edit"></m-icon> Modul button
        </m-button>

    </p>
    <p>
        <m-accordion-group class="m-u--margin-top">
            <m-accordion>
                <h2 class="m-u--no-margin"
                    slot="header">Titre 1</h2>
                Contenu de l'accordéon 1
            </m-accordion>
            <m-accordion>
                <h2 class="m-u--no-margin"
                    slot="header">Titre 2</h2>
                Contenu de l'accordéon 2
            </m-accordion>
            <m-accordion>
                <h2 class="m-u--no-margin"
                    slot="header">Titre 3</h2>
                Contenu de l'accordéon 3
            </m-accordion>
            <m-accordion>
                <h2 class="m-u--no-margin"
                    slot="header">Titre 4</h2>
                Contenu de l'accordéon 4
            </m-accordion>
        </m-accordion-group>


    </p>
</div>
