<div>
    <p>This is a lazy loaded page.</p>
    <p>It should display a value from registered store module: {{ state.value2 }}</p>
    <p>It should also display a bunch of values from the Github API about this repo</p>
    <div v-if="state.githubRepo.isfectching">Fetching...</div>
    <div v-else>
        <ul v-if="state.githubRepo.repo">
            <li v-for="item in state.githubRepo.repo.data" :key="item.is">{{item.url}}</li>
        </ul>
        <p v-else>Error: {{state.githubRepo.lastError}}</p>
    </div>
</div>