@import '~@ulaval/modul-components/dist/styles/commons';

$wp-color--black-grey-dark: #1f2f39;
$wp-color--black-grey: #32414a;
$wp-color--black-grey-light: #43545f;

.welcome-page {
    &__content {
        padding: m-spacing();
        background-color: $wp-color--black-grey;
    }
}

.welcome-page-headline {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    padding: $m-padding--l $m-padding $m-padding--xl $m-padding;
    background-color: $wp-color--black-grey-dark;
    background-image: url(/images/grid.svg);
    color: #fff;
    min-height: 100vh;
    top: 0;

    &-title,
    &-subtitle {
        text-transform: uppercase;
    }

    &__title {
        font-size: 144px;
        text-transform: uppercase;
        line-height: 1;
    }

    &__subtitle {
        font-size: 28px;
    }

    &__body,
    &__footer {
        z-index: 1;
    }

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background: linear-gradient(to bottom, $wp-color--black-grey-dark 35%, rgba($wp-color--black-grey-dark, 0.4) 100%);
    }

    &__body {
        position: relative;
        display: flex;
        align-items: flex-start;
        text-align: right;
    }

    &__footer {
        transition: transform 0.6s ease, bottom 0.2s ease;
        transform: translate3d(-50%, 42px, 0);
        position: fixed;
        bottom: 0;
        left: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        button {
            margin-top: $m-margin;
            border-radius: 0;
            font-size: 16px;
            padding: 10px $m-padding;
        }

        &:hover {
            bottom: 0 !important;
            transform: translate3d(-50%, 0, 0);
        }

        &__arrow {
            position: relative;
            font-size: 40px;
            color: $m-color--ul-blue;

            &:first-child {
                top: 8px;
                font-size: 20px;
            }

            &:nth-child(2) {
                top: 6px;
                font-size: 30px;
            }
        }
    }
}

.welcome-page-logo {
    $w-logo-item-width: 30px;

    border-collapse: collapse;
    border-spacing: 0;
    margin-left: m-spacing(xxxl);
    margin-top: 26px; // visual alignment

    &__item {
        height: $w-logo-item-width;
        width: $w-logo-item-width;
        border: 3px solid white;
        border-collapse: collapse;
        border-spacing: 0;
        transform-origin: 0 0;
        background-color: m-color(ul, blue);

        &.wp--is-yellow {
            background-color: m-color(ul, yellow);
        }

        &.wp--is-red {
            position: relative;
            background-color: transparent;
            border: 0;

            span {
                background-color: m-color(ul, red);
                border: 3px solid white;
                display: block;
                bottom: 8px;
                left: 8px;
                width: inherit;
                height: inherit;
                position: absolute;
            }
        }
    }
}
